# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Environment files
.env
.env.*    # local env overrides

# Installer logs
pip-log.txt
pip-delete-this-directory.txt